

body{
   background-image: url(baku.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: white;
    position: relative;
    left: 0%;
    top: 20%;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    text-align: center;
}
p{
    color: white;
    position: relative;
    left: 0%;
    top: 10%;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 2px solid white;
    align-items: center;
    text-align: center;
   
}



.circle{
    overflow: hidden;
    position: relative;
    top: 10%;
    right: -50%;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 10px dotted white;
    animation: rotate 3s linear ;

}

@-webkit-keyframes rotate {
  from {
    border: 10px dotted white;
    right: 0%;
    rotate: 0deg;
  }
  to {
    right: -50%;
    rotate: 360deg;
  }
}